.slider {
  text-align: center;
  margin: 10px auto;
  padding: 20px 0;
  /*PAGINACAO */ }
  .slider .item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; }
    .slider .item img {
      max-width: 400px; }
  .slider .owl-theme .owl-item div:hover {
    cursor: move; }
  .slider .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    display: inline; }
  .slider .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #000;
    display: block;
    border-radius: 30px; }
  .slider .owl-theme .owl-dots .owl-dot.active span,
  .slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #999; }
