/*==========  Non-Mobile First Method  ==========*/
@import "variables";

@media screen and (max-width: 1200px) {
    header {
        nav {
            .nav-links {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    header {
        nav {
            .nav-links {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        nav {
            .nav-links {
                position: absolute;
                right: 0px;
                height: auto;
                top: 96px;
                background-color: rgba($branco, .3);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                width: 60%;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
            }

            .nav-active {
                transform: translateX(0%);
            }

            @keyframes navLinkFade {
                from {
                    opacity: 0;
                    transform: translateX(50px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }

            li {
                opacity: 0;
                line-height: 3;
                display: inline-block;
                text-align: center;

                a {
                    padding: 20px;
                }
            }

            .burger {
                display: block;
                cursor: pointer;
            }

            .toggle .line1 {
                transform: rotate(-45deg) translate(-5px, 6px);
            }


            .toggle .line2 {
                opacity: 0;
            }

            .toggle .line3 {
                transform: rotate(45deg) translate(-5px, -6px);
            }
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        nav {
            .nav-links {
                width: 100%;
                
            }
        }
    }
}

@media screen and (max-width: 200px) {
    header {
        nav {
            .nav-links {
                width: 100%;
                
            }
        }
    }
}