@import "app";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.6;
}

.wrapper {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

// Button
.button {
  border: 1px solid $text-color;
  padding: 12px 40px;

  &:hover {
    color: $branco;
    background: $text-color;
    transition: 0.2s ease-in-out;
  }
}

.button-white {
  border: 1px solid $branco;
  color: $branco !important;

  &:hover {
    color: $text-color !important;
    background: $branco;
    transition: 0.2s ease-in-out;
  }
}

// End Button


.container {
  max-width: 90%;
  margin: 0 auto;
}

.section-description {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.button-container {
  margin: 80px 0;
}


// Hero
.hero {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  grid-gap: $gutter;
  padding: 0px 0 60px 0;
  align-items: center;


  .hero-image {
    padding: 0;
  }


  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: $branco;
  }

  p {
    padding: 20px 0;
    color: $branco;
  }

  .button {
    display: inline-block;
    margin: 10px 0;
  }
}

//End hero


// Notices
.notices-section {
  padding: 50px 0;

  h1 {
    color: darken($gray-background, 10%);
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.notices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gutter;

  .notice {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

// End Notices


.benefits-section {
  background: $light-gray-background;
  border-top: 1px solid $separator-color;
  padding: 50px 0;

  h1 {
    text-transform: uppercase;
    color: darken($gray-background, 10%);
    font-size: 1.5em;
  }
}

.benefit-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $gutter;
  margin: 60px 0 60px;

  .benefit-post {
    margin-bottom: 20px;
    padding: 10px;
    justify-content: space-between;

    p {
      margin: 20px 0 40px;
    }

    h2 {
      text-transform: uppercase;
      color: darken($gray-background, 10%);
    }

    .button {
      margin: 20px 0;
      display: inline-block;
    }
  }
}


footer {
  background: $gray-background;
  padding: 40px 0;
  color: $branco;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .made-with a {
      color: $branco;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;

      a {
        color: $branco;
      }
    }
  }
}