@import "app";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

// Button
.button {
  border: 1px solid $text-color;
  padding: 12px 40px;

  &:hover {
    color: $branco;
    background: $text-color;
  }
}

.button-white {
  border: 1px solid $branco;
  color: $branco !important;

  &:hover {
    color: $text-color !important;
    background: $branco;
  }
} // End Button

.section-description {
  width: 80%;
  margin: auto;
}

.button-container {
  margin: 80px 0;
}

// Header
header {
  background: url('../../images/triangulos.svg');
  background-size: cover;
  color: $branco;

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    .logo {
      img {
        max-width: 250px;
      }
    }

    ul {
      display: flex;
      text-transform: uppercase;
      justify-content: space-between;
      align-items: center;
      width: 600px;

      a {
        color: $branco;
        &:hover {
          color: darken($branco, 10%);

        }
      }
    }
  }
} // End header


// Hero
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gutter;
  padding: 20px 0 60px 0;
  align-items: center;
  justify-items: center;


  .hero-image {
    padding: 0;
  }

  // .hero-copy {
  //   text-align: justify;
  // }

  h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 20px 0; 
  }

  .button {
    margin-right: 15px;
  }
} //End hero


// Notices
.notices-section {
  padding: 50px 0;

  .notices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $gutter;

    .notice {
      display: flex;
      flex-direction: column;
    }
  }
}

.benefits-section {
  background: $light-gray-background;
  border-top: 1px solid $separator-color;
  padding: 50px 0;

  .benefit-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gutter;
    margin: 60px 0 60px;

    .benefit-post {
      margin-bottom: 20px;
    }

    p {
      margin: 20px 0 40px;
    }
  }
}

footer {
  background: $gray-background;
  padding: 40px 0;
  color: $branco;

  .footer-content {
    display: flex;
    justify-content: space-between;
    
    .made-with a {
      color: $branco;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10%;

      a {
        color: $branco;
      }

    }
  }
}