@import "app";
@import "responsive";
@import "partials/titles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.6;
}

// body {
//   font-family: 'Roboto', Helvetica, Arial, sans-serif;
//   font-size: .9em;
//   font-weight: 300;
//   line-height: 1.6;
// }

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

// Button
.button {
  border: 1px solid $text-color;
  padding: 12px 40px;

  &:hover {
    color: $branco;
    background: $text-color;
  }
}

.button-white {
  border: 1px solid $branco;
  color: $branco !important;

  &:hover {
    color: $text-color !important;
    background: $branco;
  }
}

// End Button


.container {
  max-width: 80%;
  margin: 0 auto;
}

// Header
header {
  width: 100%;
  background: url(../../images/triangulos.svg);
  background-position: center;
  background-size: cover;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: rgba($preto, .8);
    font-family: 'Roboto', verdana, Helvetica, sans-serif;
    padding: 20px 0;

    .logo {
      color: $branco;
      font-size: 1.3em;

      a {
        color: $branco;
        transition: 0.2s ease-in-out;
        text-decoration: none;

        &:hover {
          color: darken($branco, 20%);
          transition: 0.2s ease-in-out;
        }
      }
    }

    .nav-links {
      display: flex;
      justify-content: space-around;
      width: 50%;

      li {
        list-style: none;
      }

      a {
        color: $branco;
        text-decoration: none;
        font-size: .8em;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px;
        transition: 0.2s ease-in-out;

        &:hover {
          color: darken($branco, 20%);
          transition: 0.2s ease-in-out;
          //background: rgba($preto, .3)
        }
      }
    }

    .burger {
      display: none;
    }

    .burger div {
      width: 25px;
      height: 3px;
      margin: 5px;
      background: $branco;
      transition: all 0.3s ease;
    }
  }
}

// End header

.section-description {
  width: 90%;
  margin: 0 auto;
}

.button-container {
  margin: 80px 0;
}


// Hero
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gutter;
  padding: 0px 0 60px 0;
  align-items: center;
  justify-items: center;


  .hero-image {
    padding: 0;
  }

  // .hero-copy {
  //   text-align: justify;
  // }

  h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 20px 0;
  }

  .button {
    margin-right: 15px;
  }
}

//End hero


// Notices
.notices-section {
  padding: 50px 0;
}

.notices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gutter;

  .notice {
    display: flex;
    flex-direction: column;
  }
}


.benefits-section {
  background: $light-gray-background;
  border-top: 1px solid $separator-color;
  padding: 50px 0;

  .benefit-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gutter;
    margin: 60px 0 60px;

    .benefit-post {
      margin-bottom: 20px;

      p {
        margin: 20px 0 40px;
      }

      h2 {
        text-transform: uppercase;
      }
    }
  }
}

footer {
  background: $gray-background;
  padding: 40px 0;
  color: $branco;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .made-with a {
      color: $branco;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;

      a {
        color: $branco;
      }

    }
  }
}


// Media Querys
@media screen and (max-width: 1200px) {
  header {
      nav {
          .nav-links {
              width: 70%;
          }
      }
  }
}

@media screen and (max-width: 992px) {
  header {
      nav {
          .nav-links {
              width: 80%;
          }
      }
  }
}

@media screen and (max-width: 768px) {
  header {
      nav {
          .nav-links {
              position: absolute;
              right: 0px;
              height: auto;
              top: 96px;
              background-color: rgba($preto, .8);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
              width: 60%;
              transform: translateX(100%);
              transition: transform 0.5s ease-in;
          }

          .nav-active {
              transform: translateX(0%);
          }

          @keyframes navLinkFade {
              from {
                  opacity: 0;
                  transform: translateX(50px);
              }

              to {
                  opacity: 1;
                  transform: translateX(0px);
              }
          }

          li {
              opacity: 0;
              line-height: 3;
              display: inline-block;
              text-align: center;

              a {
                  padding: 20px;
              }
          }

          .burger {
              display: block;
              cursor: pointer;
          }

          .toggle .line1 {
              transform: rotate(-45deg) translate(-5px, 6px);
          }


          .toggle .line2 {
              opacity: 0;
          }

          .toggle .line3 {
              transform: rotate(45deg) translate(-5px, -6px);
          }
      }
  }
}

@media screen and (max-width: 320px) {
  header {
      nav {
          .nav-links {
              width: 100%;
              
          }
      }
  }
}

@media screen and (max-width: 200px) {
  header {
      nav {
          .nav-links {
              width: 100%;
              
          }
      }
  }
}