@import "variables";

// Media Querys
@media screen and (max-width: 1200px) {
  .wrapper {
    overflow-x: hidden !important;
  }

  header {
    .nav-top {
      .nav-links {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    overflow-x: hidden !important;
  }
  header {
    .nav-top {
      .logo img {
        max-width: 80%;
      }

      .nav-links {
        width: 100%;
      }
    }

    .hero-copy {
      h1 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    overflow-x: hidden !important;
  }
  header {
    .nav-top {
      .logo img {
        max-width: 50%;
      }

      .nav-links {
        position: absolute;
        right: 0px;
        height: auto;
        top: 16%;
        background-color: rgba($preto, .9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }

      .nav-active {
        transform: translateX(0%);
      }

      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }

        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      li {
        opacity: 0;
        line-height: 3;
        display: inline-block;
        text-align: center;

        a {
          padding: 20px;
        }
      }

      .burger {
        display: block;
        cursor: pointer;
      }

      .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }


      .toggle .line2 {
        opacity: 0;
      }

      .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }

    .slider {
      .item {
        section {
          width: 100%;
          padding: 30px 0;
          font-size: 1em;
        }

        figure {
          display: none;
        }
      }
    }
  }

  .notices {
    grid-template-columns: 1fr 1fr;
  }

  .benefit-posts {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    overflow-x: hidden !important;
  }

  .button {
    padding: 7px 15px;
  }

  header {
    .nav-top {
      .logo img {
        max-width: 50%;
      }

      .nav-links {
        width: 100%;
      }
    }
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;

    .hero-image {
      display: none;
    }
  }

  .notices {
    grid-template-columns: 1fr;

    .notice:nth-last-child(1) {
      grid-column: 1 / 2;
    }
  }

  .benefit-posts {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;

    ul {
      margin: 20px 0 0 0;
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    overflow-x: hidden !important;
  }
  header {
    .nav-top {
      .nav-links {
        width: 100%;
      }
    }
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;

    .hero-image {
      display: none;
    }
  }

  .notices {
    grid-template-columns: 1fr;

    .notice:nth-last-child(1) {
      grid-column: 1 / 2;
    }
  }

  .benefit-posts {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;

    ul {
      margin: 20px 0 0 0;
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 200px) {
  .wrapper {
    overflow-x: hidden !important;
  }
  header {
    .nav-top {
      .nav-links {
        width: 100%;
      }
    }
  }
}