.slider {
    text-align: center;
    margin: 10px auto;
    padding: 20px 0;

    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $gutter;
        
        img {
            max-width: 400px;
        }
    }
    
    
    .owl-theme .owl-item div:hover {
        cursor: move;
    }
    
     /*PAGINACAO */
    
    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        display: inline;
    }
    
    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #000;
        display: block;
        border-radius: 30px
    }
    
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #999;
    }
}


