@import "../variables";

.container-banner-home {
    background: url("../../images/image-banner-1.png");
    background-color: $cinza;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-height: 450px;

    .content-banner-home {
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $branco;
        background: rgba($preto, 0.5);
        padding: 20px;
        max-width: 400px;
        max-height: 300px;

        h2 {
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            text-align: left;
            margin-bottom: 10px;
        }
    }
}

// @media screen and (max-width: 900px) {
//     .container-banner-home {
        
//         .content-banner-home {
//             background: rgba($preto, 0.5);
//             max-width: 300px;
//             max-height: 300px;
//             padding: 10px;
//             h2 {
//                 font-size: 1.8rem;
//                 margin-bottom: 10px;
//             }
//         }
//     }
// }