@import "../variables";

.btn {
    color: $branco;
    background: $azul;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    display: inline;

    &:hover {
        background: $azul / 2;
    }
}